.TodoAddForm {
  color: var(--color-magnolia);
}

.TodoModal .TodoAddForm {
  display: none;
}

.App .TodoAddForm .Icon.Icon-close {
  display: none;
}

.TodoAddForm .Icon-close {
  position: relative;
  top: 0;
  right: 0;
}

@media screen and (max-width: 580px) {
  .App .TodoAddForm {
    display: none;
  }

  .TodoModal .TodoAddForm {
    display: flex;
    z-index: 60;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--color-chocolate-cosmos-rgb), .5);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
  }

  .TodoModal .TodoAddForm.active {
    left: 0;
  }

  .TodoModal .TodoAddForm .Icon.Icon-add {
    display: flex;
  }

  .TodoModal .TodoAddForm .Icon.Icon-close {
    display: flex;
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 20px;

  }
}