.App {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 20px;
  color: var(--color-magnolia);
}

.App > div {
  background: rgba(var(--color-atomic-tangerine-rgb), 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.TodoForm label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-magnolia);
}

.TodoForm input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: var(--color-magnolia);
  border-bottom: 1px solid var(--color-atomic-tangerine);
  margin-bottom: 20px;
  border-radius: 10px;
}

.TodoForm input:focus {
  border-bottom: 1px solid var(--color-magnolia);
  outline: none;
  transition: 1s ease-in-out;
}

.TodoForm input::-webkit-input-placeholder {
  color: rgba(var(--color-atomic-tangerine-rgb), .3);
}

@media screen and (max-width: 580px) {
  .App {
    margin-top: 20px;
    flex-flow: column;
  }
}