:root {
  --color-atomic-tangerine: #F29B7C;
  --color-atomic-tangerine-rgb: 242, 155, 124;
  --color-chocolate-cosmos: #5B202B;
  --color-chocolate-cosmos-rgb: 91, 32, 43;
  --color-royal-blue: #2468e5;
  --color-royal-blue-rgb: 36, 104, 229;
  --color-magnolia: #F7F0F5;
  --color-magnolia-rgb: 247, 240, 245;
  --color-marian-blue: #424488;
  --color-marian-blue-rgb: 66, 68, 136;
  --color-midnight-blue: #191970;
  --color-midnight-blue-rgb: 25, 25, 112;
  --color-space-cadet: #32325D;
  --color-space-cadet-rgb: 50, 50, 93;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 90vh;
  max-width: 100vw;
  background: url('./background.svg') no-repeat center/cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
